dotenv>=0.9.9
fastapi>=0.120.4
uvicorn>=0.23.2
langchain==0.3.27
langchain-community>=0.3.31
langchain-experimental==0.3.4
langchain-groq>=0.3.8
langchain-openai>=0.3.35
langchain-pinecone>=0.2.13
pandas>=2.3.3
pinecone>=7.3.0
pymongo>=4.15.3
pypdf>=6.2.0
python-multipart>=0.0.20
requests>=2.32.5
wikipedia>=1.4.0
